<article class="post-card {% if not post.featureImage %}no-image{% endif %}">
    {% if post.featureImage %}
        <a class="post-card-image-link" href="{{ url('post_index', { 'slug': post.slug }) }}">
            <div class="post-card-image" style="background-image: url({{ post.featureImage.url }})"></div>
        </a>
    {% endif %}
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{ url('post_index', { 'slug': post.slug }) }}">
            <header class="post-card-header">
                {% if post.primaryTag %}
                    <span class="post-card-tags">{{ post.primaryTag.title }}</span>
                {% endif %}
                <h2 class="post-card-title">{{ post.title }}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{ post.excerpt|raw }}</p>
            </section>
        </a>
        {% if post.author %}
            <footer class="post-card-meta">
                <img class="author-profile-image" src="{{ post.author.profileImage }}" alt="{{ post.author.name }}"/>
                <span class="post-card-author">
                <a href="{{ url('author_index', { 'slug': post.author.slug }) }}">{{ post.author.name }}</a>
            </span>
            </footer>
        {% endif %}
    </div>
</article>
